<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="form" (submit)="onSaveAnnonce()" *ngIf="!isLoading">
    <mat-form-field>
      <input matInput type="text" formControlName="title" placeholder="Titre">
      <mat-error *ngIf="form.get('title').invalid">Veuillez entrer le titre.</mat-error>
    </mat-form-field>
    <div>
      <button mat-stroked-button type="button" (click)="filePicker.click()">Choisir une image</button>
      <input type="file" #filePicker (change)="onImagePicked($event)">
    </div>
    <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid">
      <img [src]="imagePreview" [alt]="form.value.title">
    </div>
    <mat-form-field>
      <textarea matInput rows="4" formControlName="description" placeholder="Description"></textarea>
      <mat-error *ngIf="form.get('description').invalid">Veuillez entrer la description</mat-error>
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit">Enregistrer</button>
  </form>
</mat-card>
