<mat-spinner *ngIf="isLoading"></mat-spinner>

<mat-form-field appearance="standard">
  <mat-label>Filtre</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Concert live" #input>
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort *ngIf="annonces.length > 0 && !isLoading">

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let row"> {{row.id}} </td>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Image </th>
      <td mat-cell *matCellDef="let row">
        <img height="50" [src]="row.image" [alt]="row.title">
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="titre">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Titre </th>
      <td mat-cell *matCellDef="let row"> {{row.title}} </td>
    </ng-container>

    <!-- Fruit Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
      <td mat-cell *matCellDef="let row"> <mat-action-row *ngIf="userIsAuthenticated && userId === row.creator">
        <a mat-button color="primary" [routerLink]="['/edit', row?.id]">Modifier</a>
        <button mat-button color="warn" (click)="onDelete(row?.id)">Supprimer</button>
      </mat-action-row> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>

  <mat-paginator [length]="totalAnnonces" [pageSize]="annoncesPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)"
  *ngIf="annonces.length > 0"></mat-paginator>
  <p class="info-text mat-body-1" *ngIf="annonces.length <= 0 && !isLoading">Aucune donnée pour l'instant!</p>
</div>
